*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 35px;
  background-color: black;
  color: white;
}
body{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  height: 100vh; 
}
